body {
    background: url(../images/login_bg.jpg )no-repeat center;
    background-size: cover;
}

.logo {
    padding-top: 30px;
}

.login {}

.title {
    height: 60px;
    background: url(../images/login_title.png)no-repeat center;
}